/*This is a Cookie Clicker style*/

body{
    background-color: gold;
    font-family: verdana;
    text-align: center;
}

#content{
    margin-top: 200px;
}


#upgrade{
    border-radius: 10px 10px;
    width: 100px;
    height: 30px;
    background-color: bisque;
    font-weight: bolder;
}

#reset{
    border-radius: 10px 10px;
    width: 100px;
    height: 30px;
    background-color: bisque;
    font-weight: bolder;
}

h1{
    text-shadow: 5px 5px 5px grey;
}